:root {
  --light-pink: #e99998;
  --yellow: #fed966;
  --pale-blue: #cfe2f3;
  --pink: #a64d79;
  --dark-pink: #4c1131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
